div.widget {
    width: 320px;
    height: 568px;
    display: flex;
    flex-direction: column;
    background-color: #008cff;
    border-radius: 16px;
}

header,
footer {
    flex: 0 0 auto;
    gap: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
}

header {
    height: 82px;
}

footer {
    min-height: 82px;
}

textarea {
    width: 100%;
    min-height: 32px;
    max-height: 8em;
    resize: none;
    outline: none;
    border: none;
    border-radius: 16px;
    overflow: hidden auto;
    padding: 7px 14px;
    box-sizing: border-box;
    scrollbar-width: thin;
    /* word-break: break-all; */
}

textarea:disabled {
    background-color: #e5e5e5;
}

img.operator-avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

/* Reset */
h2.operator-name,
p.operator-description {
    margin: 0;
}

h2.operator-name {
    margin-bottom: 6px;
    font-size: 1.125em;
    color: white;
}

p.operator-description {
    margin-top: 6px;
    font-size: .875em;
    /* font-weight: bold; */
    color: #414141;
}