button.send-button {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    padding: 7px;
    margin: 0;
    background-color: white;
    border: none;
    border-radius: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

button.send-button>img {
    max-width: 80%;
    height: auto;
}